body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    -20deg,
    #c8abf5 0%,
    #7db9bb 100%
  );
  height: 100vh;
}

h1 {
  margin: 0 0 20px;
  font-family: "Playpen Sans", cursive;
  font-weight: 500;
  font-size: 52px;
  text-align: center;
  line-height: 1.5;
  background: linear-gradient(-20deg, #c8abf5, #85b9bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  margin: 0 0 15px;
  font-size: 36px;
  font-family: "Playpen Sans", cursive;
  background: linear-gradient(-20deg, #c8abf5, #85b9bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form {
  padding: 20px;
}
footer {
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
}
a {
  font-family: "Playpen Sans", cursive;
  font-weight: 200;
  color: #7db9bb;
  transition: all 100ms ease-in;
  text-decoration: none;
}
a:hover {
  color: #895fc8;
}
/* */
.container {
  background-color: white;
  box-shadow: 0px 20px 60px rgba(158, 196, 197, 0.2);
  margin: 80px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 10px;
}

.form-inputs {
  display: flex;
}
.prompt {
  padding: 12px;
  border: 1px solid, #9ec4c5;
  border-radius: 50px;
  width: 75%;
  font-size: 18px;
  line-height: 1.2;
  color: #7a59ab;
  margin-right: 5px;
}
.example {
  margin: 10px 0 0;
  color: #7db9bb;
  font-size: 14px;
}
.submit-button {
  width: 25%;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 50px;
  border: 1px solid #b08fe2;
  background-color: #b08fe2;
  color: white;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #c8abf5;
  border: 1px solid #c8abf5;
}
.baby-name {
  margin-top: 20px;
  padding: 20px;
  background-color: #efebf6;
  border-left: 5px solid #b08fe2;
  font-size: 16px;
  line-height: 1.5;
}
.baby-name strong {
  color: #b08fe2;
}
